# DATA EXTRACTION

In [3]:
import zipfile
import os

# Define the ZIP file name and extraction path
zip_path = 'datasets.zip'
extract_path = './'

# Create the destination folder if it doesn't exist
os.makedirs(extract_path, exist_ok=True)

# Extract the ZIP file contents
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

print(f"✅ Dataset successfully extracted")

✅ Dataset successfully extracted

# BASIC INFO AND STATISTICS

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv('datasets/test_0_rows_500_columns_20_comp_0.5_input_.csv')

# Display shape
print("Dataset shape:", df.shape)

# Show basic info
print("\nData types and non-null counts:")
df.info()

# Show percentage of missing values per column
missing_percentage = df.isnull().mean() * 100
print("\nPercentage of missing values per column:")
print(missing_percentage.sort_values(ascending=False))

# Show basic statistics
print("\nDescriptive statistics:")
print(df.describe())

# Display first few rows
df.head()

Dataset shape: (500, 20)

Data types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_0   238 non-null    float64
 1   col_1   251 non-null    float64
 2   col_2   245 non-null    float64
 3   col_3   250 non-null    float64
 4   col_4   265 non-null    float64
 5   col_5   256 non-null    float64
 6   col_6   259 non-null    float64
 7   col_7   249 non-null    float64
 8   col_8   262 non-null    float64
 9   col_9   262 non-null    float64
 10  col_10  256 non-null    float64
 11  col_11  244 non-null    float64
 12  col_12  251 non-null    float64
 13  col_13  249 non-null    float64
 14  col_14  247 non-null    float64
 15  col_15  243 non-null    float64
 16  col_16  249 non-null    float64
 17  col_17  249 non-null    float64
 18  col_18  252 non-null    float64
 19  col_19  207 non-null    float64
dtypes: float64(20)
memory usage: 78.3 KB

Percentage of missing values per column:
col_19    58.6
col_0     52.4
col_15    51.4
col_11    51.2
col_2     51.0
col_14    50.6
col_7     50.2
col_13    50.2
col_16    50.2
col_17    50.2
col_3     50.0
col_1     49.8
col_12    49.8
col_18    49.6
col_5     48.8
col_10    48.8
col_6     48.2
col_8     47.6
col_9     47.6
col_4     47.0
dtype: float64

Descriptive statistics:
            col_0       col_1       col_2       col_3       col_4       col_5  \
count  238.000000  251.000000  245.000000  250.000000  265.000000  256.000000
mean    12.486495   14.981707   40.992214   39.994752   35.522273   34.077020
std      1.045812    1.043554    1.013951    1.027818    0.870265    1.081256
min     10.022125   12.130541   37.935022   36.505939   33.370309   30.732975
25%     11.798461   14.269255   40.323121   39.397454   34.979290   33.396727
50%     12.552236   15.084595   40.937425   40.015261   35.564752   34.078352
75%     13.258037   15.643977   41.657155   40.644102   36.021763   34.795065
max     14.880387   18.175520   43.940353   42.821737   37.926528   36.720016

            col_6       col_7       col_8       col_9      col_10      col_11  \
count  259.000000  249.000000  262.000000  262.000000  256.000000  244.000000
mean    23.339911   47.003401   23.406881   47.533486   33.549444   45.490190
std      1.154577    0.906049    0.944855    0.949293    0.888680    0.858608
min     20.644433   44.559072   20.666798   44.294895   30.682664   42.578555
25%     22.614630   46.381206   22.734987   46.869341   32.975652   44.986996
50%     23.372137   46.959461   23.386144   47.449561   33.624138   45.531293
75%     24.029389   47.610251   24.038427   48.264040   34.136501   46.008567
max     27.063076   49.757276   25.957923   50.238504   35.852476   47.848620

           col_12      col_13      col_14      col_15      col_16      col_17  \
count  251.000000  249.000000  247.000000  243.000000  249.000000  249.000000
mean    28.570851   36.545461   38.915128   38.507601   14.075024   19.988833
std      1.169840    0.989372    0.709380    1.157411    0.933863    1.041148
min     24.470370   33.906431   36.414094   34.792134   10.675198   17.413182
25%     27.849414   35.889222   38.508530   37.803663   13.543371   19.355365
50%     28.633976   36.584283   38.885111   38.466611   14.075599   19.992515
75%     29.268522   37.170081   39.336228   39.265595   14.636168   20.731440
max     31.853562   39.758458   41.239653   42.189299   17.493363   23.222689

           col_18      col_19
count  252.000000  207.000000
mean    24.488508   22.093885
std      0.842612    1.124663
min     21.169541   18.269551
25%     23.961264   21.236979
50%     24.470898   22.205809
75%     25.078267   22.826801
max     26.687599   24.740879

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19
0,12.681335,14.123423,42.624936,38.908926,34.223997,34.225461,21.019194,46.056724,22.582898,48.592507,33.321551,46.214998,29.509126,36.112309,37.751032,36.921914,14.423339,18.446923,25.261202,22.868758
1,NaN,NaN,NaN,NaN,NaN,34.716255,NaN,NaN,NaN,NaN,33.336224,NaN,NaN,36.979757,NaN,NaN,NaN,NaN,NaN,NaN
2,12.768710,15.342030,39.909523,40.121271,35.796891,34.248542,23.726731,46.703695,22.773470,46.756387,33.537937,45.109017,28.227573,35.982763,38.602347,36.707411,14.157703,20.162981,24.309271,21.809760
3,NaN,NaN,40.794541,NaN,34.573209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.685550,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,36.311912,NaN,NaN,48.498526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.810081,NaN,NaN,NaN

In [6]:
# Contar cuántas filas están completamente completas (sin ningún valor nulo)
complete_rows = df.dropna().shape[0]
print(f"\nNúmero de filas completas (sin valores nulos): {complete_rows}")

Número de filas completas (sin valores nulos): 204

In [7]:
percent_complete_rows = (complete_rows / df.shape[0]) * 100
print(f"Porcentaje de filas completas: {percent_complete_rows:.2f}%")

Porcentaje de filas completas: 40.80%